<h4 class="page-title">Nuevo Premio</h4>
<div class="row">
  <%= render partial: 'admin/prizes/form'  , locals: { url:  admin_table_prizes_path(params[:table_id])  , method: :post, prize: @prize } %>
</div>