# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore Rubymine config files
.idea

# Ignore configuration files
.env

/Rakefile~
/app/controllers/api/v1/prizes_controller.rb~
/spec/spec_helper.rb~
/spec/support/request_helpers.rb~
/test/fixtures/prizes.yml~
