<h4 class="page-title">Nueva Explicación</h4>
<div class="row">
  <%= render partial: 'admin/explanations/form', locals: { url: admin_explanations_path, method: :post, explanation: @explanation } %>
</div>