@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Source+Sans);

// Colors -------------------------------------------------------------------------------------/

// Primary palette (institucional)
$primary-color:#67B43A;
$secondary-color:#9EC42E;
$third-color:#CDD625;


// Neutral palette
$dark-gray:#3C3C3B;
$medium-gray:#80807F;
$light-gray:#EFEFEF;

//template color
$links: #26a69a;

//screens
$s: 600px;
$m: 992px;

$screen-height: 100vh;
$footer-height: 110px;
