<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado modificar tu contrase침a. Puedes realizar esto haciendo click en el siguiente link.</p>

<p><%= link_to 'Cambiar mi contrase침a', "http://#{ENV['DOMAIN_NAME']}/reset_password?reset_password_token=#{@token}" %></p>

<p>Si vos no solicitaste hacerlo, por favor ignora este mail.</p>
<p>Tu contrase침a no cambiar치 hasta que hayas accedido al link indicado.</p>
